@model Ads.Application.DTOs.AdvertImage.AdvertImageDto

@{
    ViewData["Title"] = "Create Advert Image";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutNested.cshtml";
}

<h1>Create Advert Image</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <input type="hidden" asp-for="AdvertId" />
            <div class="form-group">
                <label asp-for="File" class="control-label">Image</label>
                <input asp-for="File" class="form-control" type="file" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary mt-2" asp-action="Index">Back to List</a>
</div>
