@model AdvertImage

@{
    ViewData["Title"] = "Edit Advert Image";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit Advert Image</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AdvertImagePath" />
            <input type="hidden" asp-for="CreatedDate" />
            <div class="form-group">
                <label asp-for="AdvertId" class="control-label">Advert Title</label>
                <select asp-for="AdvertId" class="form-control" asp-items="ViewBag.AdvertId"></select>
                <span asp-validation-for="AdvertId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdvertImagePath" class="control-label"></label>
                <input asp-for="AdvertImagePath" class="form-control" type="file" />
                <span asp-validation-for="AdvertImagePath" class="text-danger"></span>
                <br />
                <img src="/Img/AdvertImages/@Model.AdvertImagePath" alt="" height="500" />
            </div>
            <div class="form-group mt-5">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary mt-2" asp-action="Index">Back to List</a>
</div>