<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menü</div>
                <a class="nav-link" href="/Admin/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
                    Ana Ekran
                </a>

                <a class="nav-link" href="/Admin/Pages">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-sliders"></i></div>
                    Page Management
                </a>


                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Role Management
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/Admin/Roles">Roller</a>
                        <a class="nav-link" href="/Admin/Roles/Create">Rol Ekle</a>
                    </nav>
                </div>

                <a class="nav-link" href="/Admin/Users">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                    Users
                </a>

                <a class="nav-link" href="/Admin/Categories">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-tags"></i></div>
                    Categories
                </a>

                <a class="nav-link" href="/Admin/SubCategories">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-tags"></i></div>
                    SubCategories
                </a>

                <a class="nav-link" href="/Admin/Settings">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-tags"></i></div>
                    Settings
                </a>

                <a class="nav-link" href="/Admin/Adverts">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-car"></i></div>
                    Adverts
                </a>

                <a class="nav-link" href="/Admin/AdvertComments">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-address-card"></i></div>
                    Advert Comments
                </a>

                <a class="nav-link" href="/Admin/AdvertRatings">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-shop"></i></div>
                    Advert Ratings
                </a>

                <a class="nav-link" href="/Admin/AdvertImages">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-gears"></i></div>
                    Advert Images
                </a>

                <a class="nav-link" href="/Admin/Sliders">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-gears"></i></div>
                    Slider Management
                </a>

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Hoşgeldin :)</div>
            Admin
        </div>
    </nav>
</div>

