<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link" href="/Home/Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-house"></i></div>
                    Home Page
                </a>

                <a class="nav-link" href="/Admin/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-gears"></i></div>
                    Control Panel
                </a>

                <a class="nav-link" href="/Admin/Pages">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-sliders"></i></div>
                    Pages
                </a>

                <a class="nav-link" href="/Admin/Roles">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-tags"></i></div>
                    Roles
                </a>

                <a class="nav-link" href="/Admin/Users">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                    Users
                </a>

                <a class="nav-link" href="/Admin/Categories">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-tags"></i></div>
                    Categories
                </a>

                <a class="nav-link" href="/Admin/Adverts">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-car"></i></div>
                    Adverts
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Welcome :)</div>
            Admin
        </div>
    </nav>
</div>
