@model ChangeMailDto

<form method="post" asp-action="ChangeEmail" asp-controller="Account">
    <input type="hidden" asp-for="UserId" value="@(Model.UserId)" />
    <input type="hidden" asp-for="Token" value="@(Model.Token)" />

    <label for="newEmail">Yeni E-Posta Adresi:</label>
    <input type="email" id="newEmail" name="NewEmail" asp-for="NewEmail" required />

    <button type="submit">E-Posta Adresini Değiştir</button>
</form>
