@model User

@{
    ViewData["Title"] = "My User Information";
}

<section class="user-profile section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
                <div class="sidebar">
                    <!-- User Widget -->
                    <div class="widget user">
                        <!-- User Image -->
                        <div class="image d-flex justify-content-center">
                            <img src="/Img/UserImages/@Model.UserImagePath" alt="" class="">
                        </div>
                        <!-- User Name -->
                        <h5 class="text-center">@Model.FirstName</h5>
                    </div>
                    <!-- Dashboard Links -->
                    <div class="widget dashboard-links">
                        <ul>
                            <li><a class="my-1 d-inline-block" href="">Savings Dashboard</a></li>
                            <li><a class="my-1 d-inline-block" href="">Saved Offer <span>(5)</span></a></li>
                            <li><a class="my-1 d-inline-block" href="">Favourite Stores <span>(3)</span></a></li>
                            <li><a class="my-1 d-inline-block" href="">Recommended</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
                <!-- Edit Profile Welcome Text -->
                <div class="widget welcome-message">
                    <h2>Edit profile</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                <!-- Edit Personal Info -->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="widget personal-info">
                            <h3 class="widget-header user">Edit Personal Information</h3>
                            <form asp-controller="Account" asp-action="UserUpdate" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreatedDate" />
                                <input type="hidden" asp-for="UserGuid" />
                                <input type="hidden" asp-for="RoleId" />
                                <input type="hidden" asp-for="UserImagePath" />
                                <input type="hidden" asp-for="Password" />
                                <!-- User Name -->
                                <div class="form-group">
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                    <label for="first-name" class="control-label">User Name</label>
                                    <input type="text" asp-for="Username" class="form-control" id="first-name" />
                                </div>
                                <!-- First Name -->
                                <div class="form-group">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                    <label for="first-name" class="control-label">First Name</label>
                                    <input type="text" asp-for="FirstName" class="form-control" id="first-name" />
                                </div>
                                <!-- Last Name -->
                                <div class="form-group">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                    <label for="last-name">Last Name</label>
                                    <input type="text" asp-for="LastName" class="form-control" id="last-name" />
                                </div>
                                <!-- Phone -->
                                <div class="form-group">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                    <label asp-for="Phone" class="control-label"></label>
                                    <input asp-for="Phone" class="form-control" />
                                </div>

                                <!-- Adress -->
                                <div class="form-group">
                                    <label for="Address">Address</label>
                                    <input type="text" asp-for="Address" class="form-control" id="Address" />
                                </div>
                                <!-- File chooser -->
                                <label asp-for="UserImagePath" class="control-label"></label>
                                <div class="form-group choose-file d-inline-flex">
                                    <i class="fa fa-user text-center px-3"></i>
                                    <input asp-for="UserImagePath" class="form-control-file mt-2 pt-1" type="file" id="input-file" />

                                </div>
                                <!-- IsActive -->
                                <div class="form-group form-check">
                                    <label class="form-check-label" for="hide-profile">
                                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                        Hide Profile from Public/Comunity
                                    </label>
                                </div>
                                <!-- Submit button -->
                                <input type="submit" value="Save My Changes" class="btn btn-transparent" />
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!-- Change Email Address -->
                        <div class="widget change-email">
                            <h3 class="widget-header user">Edit Email Address</h3>
                            <form asp-controller="Account" asp-action="ChangeEmail" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreatedDate" />
                                <input type="hidden" asp-for="UserGuid" />
                                <input type="hidden" asp-for="RoleId" />
                                <input type="hidden" asp-for="UserImagePath" />
                                <input type="hidden" asp-for="Password" />
                                <!-- Current Email -->
                                <div class="form-group">
                                    <label asp-for="Email" class="current-email">Current Email</label>
                                    <input asp-for="Email" class="form-control" id="current-email" readonly />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <!-- New email -->
                                <div class="form-group">
                                    <label for="new-email">New email</label>
                                    <input type="email" class="form-control" id="new-email" name="newEmail">
                                </div>
                                <!-- Submit Button -->
                                <input type="submit" value="Change email" class="btn btn-transparent" />
                            </form>
                        </div>
                        <!-- Change Password -->
                        <div class="widget change-password mb-0">
                            <h3 class="widget-header user">Edit Password</h3>
                            <form asp-controller="Account" asp-action="ChangePassword" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreatedDate" />
                                <input type="hidden" asp-for="UserGuid" />
                                <input type="hidden" asp-for="RoleId" />
                                <input type="hidden" asp-for="UserImagePath" />
                                <input type="hidden" asp-for="Password" />

                                <!-- New Password -->
                                <div class="form-group">
                                <label for="new-password">New Password</label>
                                    <input type="password" class="form-control" id="new-password" name="newPassword">
                                </div>
                                <!-- Confirm New Password -->
                                <div class="form-group">
                                <label for="confirm-password">Confirm New Password</label>
                                <input type="password" class="form-control" id="confirm-password">
                                </div>
                                <!-- Submit Button -->
                                <input type="submit" value="Change Password" class="btn btn-transparent" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>