@model ForgotPasswordDto
@{
    ViewData["Title"] = "Forgot Password";
}

<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border">
                    <h3 class="bg-gray p-4">Forgot Password</h3>
                    <form method="post">
                        <div class="row mb-3">
                            <label for="Email" class="col-md-4 col-form-label" asp-for="Email"></label>
                            <div class="col-sm-8">
                                <input asp-for="Email" class="form-control">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success col-md-12">Gönder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>