<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>İlan Sistemi Projesi</title>

    <!-- FAVICON -->
    <link href="~/dist/img/favicon.png" rel="shortcut icon">
    <!-- PLUGINS CSS STYLE -->
    <!-- <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/dist/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/dist/plugins/bootstrap/css/bootstrap-slider.css">
    <!-- Font Awesome -->
    <link href="~/dist/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="~/dist/plugins/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="~/dist/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet">
    <!-- Fancy Box -->
    <link href="~/dist/plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
    <link href="~/dist/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <!-- CUSTOM CSS -->
    <link href="~/dist/css/style.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }</style>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/55/1/intl/tr_ALL/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/55/1/intl/tr_ALL/util.js"></script>

</head>

<body>
    <partial name="Partial/_Navbar" />

    @RenderBody()

    <partial name="Partial/_Footer" />

    <!-- JAVASCRIPTS -->
    <script src="~/dist/plugins/jQuery/jquery.min.js"></script>
    <script src="~/dist/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/dist/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/dist/plugins/bootstrap/js/bootstrap-slider.js"></script>
    <!-- tether js -->
    <script src="~/dist/plugins/tether/js/tether.min.js"></script>
    <script src="~/dist/plugins/raty/jquery.raty-fa.js"></script>
    <script src="~/dist/plugins/slick-carousel/slick/slick.min.js"></script>
    <script src="~/dist/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/dist/plugins/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/dist/plugins/smoothscroll/SmoothScroll.min.js"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
    <script src="~/dist/plugins/google-map/gmap.js"></script>
    <script src="~/dist/js/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
