<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Advert App</title>

    <!-- FAVICON -->
    <link href="~/dist/img/favicon.png" rel="shortcut icon">
    <!-- PLUGINS CSS STYLE -->
    <!-- <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/dist/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/dist/plugins/bootstrap/css/bootstrap-slider.css">
    <!-- Font Awesome -->
    <link href="~/dist/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="~/dist/plugins/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="~/dist/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet">
    <!-- Fancy Box -->
    <link href="~/dist/plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
    <link href="~/dist/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <!-- CUSTOM CSS -->
    <link href="~/dist/css/style.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }</style>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/55/1/intl/tr_ALL/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/55/1/intl/tr_ALL/util.js"></script>

    <!-- Slider -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/Slider/owl.carousel.min.css">
    <link rel="stylesheet" href="/Slider/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
    <link rel="stylesheet" href="/Slider/style.css">
    <!-- Slider -->

</head>

<body>
   @await Component.InvokeAsync("Navbar")

    @RenderBody()

    <partial name="Partial/_Footer" />

    <!-- JAVASCRIPTS -->
    <script src="~/dist/plugins/jQuery/jquery.min.js"></script>
    <script src="~/dist/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/dist/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/dist/plugins/bootstrap/js/bootstrap-slider.js"></script>
    <!-- tether js -->
    <script src="~/dist/plugins/tether/js/tether.min.js"></script>
    <script src="~/dist/plugins/raty/jquery.raty-fa.js"></script>
    <script src="~/dist/plugins/slick-carousel/slick/slick.min.js"></script>
    <script src="~/dist/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/dist/plugins/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/dist/plugins/smoothscroll/SmoothScroll.min.js"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
    <script src="~/dist/plugins/google-map/gmap.js"></script>
    <script src="~/dist/js/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <!-- Slider -->
    <script src="/assets/vendor/js/bootstrap.js"></script>
    <script src="/Slider/jquery.min.js"></script>
    <script src="/Slider/popper.js"></script>
    <script src="/Slider/bootstrap.min.js"></script>
    <script src="/Slider/owl.carousel.min.js"></script>
    <script src="/Slider/main.js"></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"83cb2ad15cd668b3","version":"2023.10.0","token":"cd0b4b3a733644fc843ef0b185f98241"}' crossorigin="anonymous"></script>
    <!-- Slider -->
</body>
</html>
