@using Ads.Application.ViewModels;
@model EditUserViewModel


@{
    ViewData["Title"] = "Edit User";
}

<h1>Edit User</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserEditDto.Id" />
            <input type="hidden" asp-for="UserEditDto.UserImagePath" />
            <div class="form-group">
                <label asp-for="UserEditDto.Email" class="control-label"></label>
                <input asp-for="UserEditDto.Email" class="form-control" />
                <span asp-validation-for="UserEditDto.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEditDto.FirstName" class="control-label"></label>
                <input asp-for="UserEditDto.FirstName" class="form-control" />
                <span asp-validation-for="UserEditDto.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEditDto.LastName" class="control-label"></label>
                <input asp-for="UserEditDto.LastName" class="form-control" />
                <span asp-validation-for="UserEditDto.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEditDto.UserName" class="control-label"></label>
                <input asp-for="UserEditDto.UserName" class="form-control" />
                <span asp-validation-for="UserEditDto.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEditDto.Address" class="control-label"></label>
                <input asp-for="UserEditDto.Address" class="form-control" />
                <span asp-validation-for="UserEditDto.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserEditDto.Phone" class="control-label"></label>
                <input asp-for="UserEditDto.Phone" class="form-control" />
                <span asp-validation-for="UserEditDto.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label">Profile Picture</label>
                <input asp-for="File" class="form-control" type="file" />
                <span asp-validation-for="File" class="text-danger"></span>
                <br />
                <img src="/Img/UserImages/@Model.UserEditDto.UserImagePath" alt="" height="500" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UserEditDto.IsActive" /> @Html.DisplayNameFor(model => model.UserEditDto.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UserEditDto.RoleId" class="control-label">Role</label>
                <select asp-for="UserEditDto.RoleId" class="form-select" asp-items="ViewBag.Roles"></select>
                <span asp-validation-for="UserEditDto.RoleId" class="text-danger"></span>
            </div>          


            <div class="form-group form-check">
                @if (Model.UserEditDto.Setting != null && Model.UserEditDto.Setting.Value == "True")
                {
                    <input asp-for="UserEditDto.UserTheme" class="form-check-input " checked />
                }
                else
                {
                    <input asp-for="UserEditDto.UserTheme" class="form-check-input " />
                }
                <label class="form-check-label">User Theme</label>
            </div>
            <div class="form-group mt-5">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary mt-2" asp-action="Index">Back to List</a>
</div>

