@using Ads.Application.DTOs.User;
@model UserEditDto


@{
    ViewData["Title"] = "Edit User";
}

<h1>Edit User</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserImagePath" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserImagePath" class="control-label">Profile Picture</label>
                <input asp-for="UserImagePath" class="form-control" type="file" />
                <span asp-validation-for="UserImagePath" class="text-danger"></span>
                <br />
                <img src="/Img/UserImages/@Model.UserImagePath" alt="" height="500" /> 
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label">Role</label>
                <select asp-for="RoleId" class="form-select" asp-items="ViewBag.Roles"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>          


            <div class="form-group form-check">
                @if (Model.Setting != null && Model.Setting.Value == "True")
                {
                    <input asp-for="UserTheme" class="form-check-input " checked />
                }
                else
                {
                    <input asp-for="UserTheme" class="form-check-input " />
                }
                <label class="form-check-label">User Theme</label>
            </div>
            <div class="form-group mt-5">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary mt-2" asp-action="Index">Back to List</a>
</div>

