@model Ads.Application.DTOs.Page.PageDto

@{
    ViewData["Title"] = "Create Page";
}

<h1>Add Page</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <input asp-for="PageVisibility" class="form-check-input" type="checkbox" />
                <label asp-for="PageVisibility" class="form-check-label">Page Visibility</label>
            </div>

            <div class="form-group">
                <label asp-for="Title1" class="control-label"></label>
                <input asp-for="Title1" class="form-control" />
                <span asp-validation-for="Title1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Content1" class="control-label"></label>
                <textarea asp-for="Content1" class="form-control"></textarea>
                <span asp-validation-for="Content1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Title2" class="control-label"></label>
                <input asp-for="Title2" class="form-control" />
                <span asp-validation-for="Title2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Content2" class="control-label"></label>
                <textarea asp-for="Content2" class="form-control"></textarea>
                <span asp-validation-for="Content2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PageImagePath" class="control-label">Page Image</label>
                <input type="file" asp-for="PageImagePath" class="form-control" />
                <span asp-validation-for="PageImagePath" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary mt-2" asp-action="Index">Back to List</a>
</div>
