@using Ads.Application.DTOs.Role
@model IEnumerable<RoleDto>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutNested.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Roles Management</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">You can see @ViewData["Title"] on this page.</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="Users" asp-action="Index">Go back to Users</a>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Role Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Role Name</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>
                                    <a class="btn btn-info" asp-action="Detail" asp-route-id="@item.Id">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>