@model Ads.Application.ViewModels.AllCategoriesViewModel



<!--==========================================
=            All Category Section            =
===========================================-->

<section class=" section">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section title -->
                <div class="section-title">
                    <h2>All Categories</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, provident!</p>
                </div>
                <div class="row">
                    <!-- Category list -->
                    @foreach (var category in Model.Categories)
                    {
                        <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                            <div class="category-block">
                                <div class="header">
                                    <i class=" @category.CategoryIcon"></i>
                                    <div>
                                        <h4>@category.Name</h4>
                                    </div>
                                </div>
                                <!-- Subcategory list -->
                                @if (category.SubCategories != null && category.SubCategories.Any())
                                {
                                    <ul class="category-list">
                                        @foreach (var subCategory in category.SubCategories)
                                        {
                                            <li><a href="@Url.Action("Index", "Category", new { id = subCategory.Id })">@subCategory.Name</a></li>
                                        }
                                    </ul>
                                }
                            </div>
                        </div> <!-- /Category List -->
                    }


                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>
