@model Ads.Application.ViewModels.NavbarViewModel

<header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light navigation">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/dist/images/logo.png" alt="">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto main-nav ">
                                <li class="nav-item active">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item dropdown dropdown-slide">

                                <li class="nav-item dropdown dropdown-slide">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Pages <span><i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <!-- Dropdown list -->
                                    <div class="dropdown-menu">
                                            @foreach (var pages in Model.Pages)
                                            {
                                            <a class="nav-item nav-link" asp-area="" asp-controller="Page" asp-action="Detail" asp-route-id="@pages.Id">@pages.Name</a>
                                            }                                         
                                    </div>
                                </li>
                                <li class="nav-item dropdown dropdown-slide">
                                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Categories <span><i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <!-- Dropdown list -->
                                    <div class="dropdown-menu">
                                            @foreach (var category in Model.Categories)
                                            {
                                            <a class="nav-item nav-link" asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="@category.Id">@category.Name</a>
                                            }
                                    </div>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-auto mt-10">

                                @if (Context.User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a asp-controller="Account" asp-action="Details" class="nav-link login-button">Hesabım</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Account" asp-action="Logout" class="nav-link login-button">Oturumu Kapat</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a asp-controller="Account" asp-action="Login" class="nav-link login-button">Giriş</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Account" asp-action="Register" class="nav-link login-button">Kaydol</a>
                                    </li>
                                }

                                <li class="nav-item">
                                    <a class="nav-link text-white add-button" href="ad-listing.html"><i class="fa fa-plus-circle"></i> Add Listing</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</header>